<a href="https://colab.research.google.com/github/ppiont/tensor-flow-state/blob/master/weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# install knmy
!pip install knmy

Collecting knmy
  Downloading https://files.pythonhosted.org/packages/9e/8b/e4fe812531a033d11d5352de11e7956f45aa362b6119548990d486ef1b40/knmy-1.0.0.tar.gz
Requirement already satisfied: sphinx in /usr/local/lib/python3.6/dist-packages (from knmy) (1.8.5)
Collecting sphinx_rtd_theme
  Downloading https://files.pythonhosted.org/packages/60/b4/4df37087a1d36755e3a3bfd2a30263f358d2dea21938240fa02313d45f51/sphinx_rtd_theme-0.4.3-py2.py3-none-any.whl (6.4MB)
     |████████████████████████████████| 6.4MB 2.7MB/s
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from knmy) (3.6.4)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from knmy) (2.21.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from knmy) (0.25.3)
Requirement already satisfied: babel!=2.0,>=1.3 in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (2.8.0)
Requirement already satisfied: sphinxcontrib-websupport in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (1.1.2)
Requirement already satisfied: docutils>=0.11 in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (0.15.2)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (2.1.3)
Requirement already satisfied: Jinja2>=2.3 in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (2.11.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (45.1.0)
Requirement already satisfied: imagesize in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (1.2.0)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (0.7.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (20.1)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from sphinx->knmy) (1.12.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest->knmy) (8.2.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->knmy) (1.3.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest->knmy) (19.3.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest->knmy) (0.7.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->knmy) (1.8.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->knmy) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->knmy) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->knmy) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->knmy) (3.0.4)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->knmy) (1.17.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->knmy) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->knmy) (2.6.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.3->sphinx->knmy) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->sphinx->knmy) (2.4.6)
Building wheels for collected packages: knmy
  Building wheel for knmy (setup.py) ... done
  Created wheel for knmy: filename=knmy-1.0.0-py2.py3-none-any.whl size=5501 sha256=8b43392625d35d5915fe09450db2550940d1095efeb7c35c0561bd48f4c3ec64
  Stored in directory: /root/.cache/pip/wheels/a1/15/f8/75d11ed17dbbb170e1a83741e2d651f6655d2be905d3ed5616
Successfully built knmy
Installing collected packages: sphinx-rtd-theme, knmy
Successfully installed knmy-1.0.0 sphinx-rtd-theme-0.4.3

In [2]:
from google.colab import drive
drive.mount("/gdrive", force_remount = True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [7]:
%cd "/gdrive/My Drive/tensor-flow-state/tensor-flow-state"

/gdrive/My Drive/tensor-flow-state/tensor-flow-state

In [0]:
from knmy import knmy
import pandas as pd
import numpy as np

def knmi_get(start, end, stations=[240, 260]):
    
    # knmy.get_hourly_data returns a tuple with 4 items. Immediately index to [3] to get the df with weather variables. 
    knmi_data = knmy.get_hourly_data(stations=[240], start=start, end=end,
                            inseason=False, variables=['ALL'], parse=True)[3]
    
    # Rename columns
    cols = ['station', 'winddirection', 'windspeed_avg', \
            'windspeed_10m','windspeed_max', 'temperature', 'temperature_min', \
            'temperature_dewpoint', 'sunduration', 'sunradiation', \
            'precipitationduration', 'precipitation', 'airpressure', \
            'horizontalview', 'cloudcover', 'relativehumidity', 'weathercode', \
            'weathercodeindicator', 'mist', 'rain', 'snow', 'storm', 'ice']
    knmi_data.columns = cols
    
    # Drop useless columns
    knmi_data.drop(['winddirection', 'windspeed_10m', 'temperature_dewpoint', \
                    'horizontalview', 'cloudcover', 'weathercode', \
                    'weathercodeindicator'], axis = 1, inplace=True)
    # Drop first row since it's actually a header, then reset index
    knmi_data.drop([0], inplace=True)
    knmi_data.reset_index(drop=True, inplace=True)
    # Subtract one hour to make data in line with NDW
    knmi_data.hour = knmi_data.hour.astype(int) - 1
    # Remove columns with NA vals
    knmi_data.dropna(axis=1, inplace=True)
    # Make dataframe numeric
    knmi_data = knmi_data.apply(pd.to_numeric)
    # Remove negative precipitation values (-1 means 0.05mm or less)
    knmi_data['precipitation'] = \
        np.where(knmi_data['precipitation'] < 0, 0, knmi_data['precipitation'])
    # Make date col a datetime object
    knmi_data['date'] = pd.to_datetime(knmi_data['date'], yearfirst = True, 
                                                  format = '%Y%m%d').dt.date
    return knmi_data

In [0]:
import pandas as pd
traffic = pd.read_csv("data/df_imputed_week_shift_added_holiday_weekends_speed_limit_plus_10.csv", index_col = 0, parse_dates = True)

# New Section

In [5]:
*_, data = knmy.get_hourly_data(stations = [260], start = 2011010101, end = 2019123124, inseason = True, variables = ['WIND', 'TEMP'], parse = True)
# Drop first row (it's a duplicate header)
data.drop([0], inplace = True)
# Switch from end of hour (KNMI convention) to start of hour (NDW convention)
data.HH = (data.HH.astype(int) - 1).astype(str)
# Create datetime index
data.index = pd.to_datetime(data.YYYYMMDD.astype(str) + data.HH.str.zfill(2), format = "%Y%m%d%H", yearfirst = True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

In [32]:
import datetime

def get_weather(traffic_df):
    freq = pd.infer_freq(traffic_df.index)
    start = (traffic.index[0] + datetime.timedelta(hours = 1)).strftime("%Y%m%d%H")
    end = (traffic.index[-1] + datetime.timedelta(hours = 1)).strftime("%Y%m%d%H")
    *_, data = knmy.get_hourly_data(stations = [260], start = start, end = end, inseason = False, variables = ["TEMP", "PRCP", "SUNR"], parse = True)
    # Drop first row (it's a duplicate header)
    data.drop([0], inplace = True)
    # Switch from end of hour (KNMI convention) to start of hour (NDW convention)
    data.HH = (data.HH.astype(int) - 1).astype(str)
    # Create datetime index
    data.index = pd.to_datetime(data.YYYYMMDD.astype(str) + data.HH.str.zfill(2), format = "%Y%m%d%H", yearfirst = True)
    data = data[["T", "TD", "DR", "RH", "SQ", "Q"]]
    data.rename(columns = {"T": "temp", "TD": "dew_point_temp", "DR": "precip_duration", "precip_sum", "sun_duration", "sun_radiation" })
    data = data.div([10, 10, 1, 10, 1, 1], axis = 1)
    

    return data

SyntaxError: ignored

In [29]:
testdata = get_weather(traffic)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  import sys

In [31]:
testdata.head()

                     STN  YYYYMMDD HH    T  T10   TD DR RH SQ  Q
2011-01-03 00:00:00  260  20110103  0    4  NaN   -2  0  0  0  0
2011-01-03 01:00:00  260  20110103  1    2  NaN   -5  0  0  0  0
2011-01-03 02:00:00  260  20110103  2   -3  NaN   -6  0  0  0  0
2011-01-03 03:00:00  260  20110103  3  -33  NaN  -36  0  0  0  0
2011-01-03 04:00:00  260  20110103  4  -35  NaN  -37  0  0  0  0

In [0]:
# T        = Temperatuur (in 0.1 graden Celsius) op 1.50 m hoogte tijdens de waarneming; 
# TD       = Dauwpuntstemperatuur (in 0.1 graden Celsius) op 1.50 m hoogte tijdens de waarneming;
# DR       = Duur van de neerslag (in 0.1 uur) per uurvak; 
# RH       = Uursom van de neerslag (in 0.1 mm) (-1 voor <0.05 mm); 
# SQ       = Duur van de zonneschijn (in 0.1 uren) per uurvak, berekend uit globale straling  (-1 for <0.05 uur); 
# Q        = Globale straling (in J/cm2) per uurvak;

In [0]:
arr = np.array([10, 10, 1, 10, 1, 1])

In [51]:
testdata.div(arr)

                       T   TD   DR   RH   SQ    Q
2011-01-03 00:00:00  0.4 -0.2  0.0  0.0  0.0  0.0
2011-01-03 01:00:00  0.2 -0.5  0.0  0.0  0.0  0.0
2011-01-03 02:00:00 -0.3 -0.6  0.0  0.0  0.0  0.0
2011-01-03 03:00:00 -3.3 -3.6  0.0  0.0  0.0  0.0
2011-01-03 04:00:00 -3.5 -3.7  0.0  0.0  0.0  0.0
...                  ...  ...  ...  ...  ...  ...
2019-12-30 19:00:00  4.9 -1.1  0.0  0.0  0.0  0.0
2019-12-30 20:00:00  4.4 -0.3  0.0  0.0  0.0  0.0
2019-12-30 21:00:00  4.2  0.2  0.0  0.0  0.0  0.0
2019-12-30 22:00:00  3.9  0.8  0.0  0.0  0.0  0.0
2019-12-30 23:00:00  3.7  1.6  0.0  0.0  0.0  0.0

[78816 rows x 6 columns]

In [0]:
testdata = testdata.apply(pd.to_numeric)

In [52]:
testdata.head()

                      T  TD  DR  RH  SQ  Q
2011-01-03 00:00:00   4  -2   0   0   0  0
2011-01-03 01:00:00   2  -5   0   0   0  0
2011-01-03 02:00:00  -3  -6   0   0   0  0
2011-01-03 03:00:00 -33 -36   0   0   0  0
2011-01-03 04:00:00 -35 -37   0   0   0  0